# Application runtime
APP_ENV=development
HOST=0.0.0.0
PORT=8080

# Logging
RUST_LOG=pgtest011=info,tower_http=info,axum::rejection=trace

# Database
DATABASE_URL=postgres://postgres:postgres@localhost:5432/pgtest011
